<!DOCTYPE html>
<html>
<head>
    <title>Woofle</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Welcome to Woofle</h1>
<hr>
<p>Here you can check out our woofles, add your own woofles and have a nice time !</p>
<hr>
<a href='/woofles'>Check out our woofles</a>
<br>
<a href='/woofles/add'>Add your own woofle</a>
<br>
</body>
</html>
